.container.top-spacer
  .row
    .col-md-2.col-md-offset-5
      %img.img-responsive.img-circle.pull-center{ :src => "/assets/img/me.png" }
  .row.top-spacer.about-header
    .col-md-3.col-md-offset-3
      %h1
        Hi, my name is Felix Schnizlein
    .col-md-3
      %p
        %a{:href => 'http://schnizle.in'} http://schnizle.in
        is about all the things that comes to my mind. Currently my blog is about Linux and programming. But this might change!
      %p 
        Currently I live at Nuermberg and work as trainee at SUSE.
  .row
    .col-md-6.col-md-offset-3
      %h3 Facts about me
    .col-md-6.col-md-offset-3.about-facts
      %ul
        %li I love to cook vegan food, but I’m not a vegan
        %li I’m a lefty, but I play a righty bass guitar
        %li I’m a lefty, but I’m trying to play the righty drums the lefty way
        %li I was born in Bavaria, but I don’t speak Bavarian
        %li
          I love functional programming, but not what
          %code javascript
          means by it
        %li I’m a Linux enthusiast, but I don’t hate Microsoft
        %li I’m a white European man, but I know about my privileges and try to fight racism, sexism, .. in my daily life.
        %li I love cycling, but not as competition.
    .col-md-6.col-md-offset-3
      %h3 You want contact me? No problem!
    .col-md-6.col-md-offset-3.about-facts
      %blockquote
        %p
          Send me an email: me@schnizle.in
          %br
          Send me a message at twitter:
          %a.uri{:href => "https://twitter.com/felixsch_"} https://twitter.com/felixsch_
          %br
          Chat with me on IRC: #fde@irc.freenode.net
    .col-md-6.col-md-offset-3
      %h3 About schnizle.in
    .col-md-6.col-md-offset-3.about-facts
      %p
        %a.uri{:href => "http://schnizle.in"} http://schnizle.in
        is written in Haskell using the static html generator library
        %a{:href => "http://hackage.haskell.org/package/hakyll"} Hakyll
      %p
        The source is available at
        %a{:href => "http://github.com/felixsch/schnizle"} github.com
