.container
  .row.top-spacer
    .col-md-4.col-md-offset-4.text-center
      %a{:href => "/notice"} Legal notice
      ·
      %a{:href => "/blog"} Blog
      ·
      %a{:href => "/about"} About
      ·
      %a{:href => "https://github.com/felixsch"} Github
