.bg
  .container
    .row
      .col-md-10.col-md-offset-1.paragraph
        %h1 Developer / Linux enthusiast
        %p Hello, I'm Felix, a junior developer interested in modern development and functional programming
        .links
          %a{:href => "blog"}
            %span.link Blog
          %a{:href => "about"}
            %span.link About

