%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbar'}
        %span.glyphicon.glyphicon-menu-hamburger

      .navbar-brand.title schnizle.in
    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav
        %li
          %a{:href => "/blog"} Blog
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "https://github.com/felixsch"} Github
        %li
          %a{:href => "https://bitbucket.com/felixsch_"} Bitbucket
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/about/#contact"}
            %i.fa.fa-envelope.fa-lg
        %li
          %a{:href => "https://twitter.com/felixsch_"} 
            %i.fa.fa-twitter.fa-lg
        %li
          %a{:href => "/feed.xml"} 
            %i.fa.fa-rss.fa-lg
