.container.top-spacer
  .row
    .col-md-8.col-md-offset-1.article-title
      %h1{:itemprop => "name"} $title$
  .row
    .col-md-8.col-md-offset-1.article{:itemprop => "articleBody"}
      $body$
    .col-md-2
      fooo
